apps/*.h
utils/*.h
apps/BC
apps/BellmanFord
apps/BFS
apps/BFSCC
apps/CF
apps/KCore
apps/MIS
apps/PageRank
apps/PageRankDelta
apps/Radii
apps/Triangle
apps/BFS-Bitvector
apps/Components
apps/Components-Shortcut
apps/decoder
apps/encoder
apps/grep
utils/KONECTtoClique
utils/KONECTtoHyperAdj
utils/KONECTtoMESH
utils/SNAPtoAdj
utils/adjGraphAddWeights
utils/adjHypergraphAddWeights
utils/adjToBinary
utils/communityToClique
utils/communityToHyperAdj
utils/communityToMESH
utils/gridGraph
utils/hyperAdjToBinary
utils/rMatGraph
utils/randHypergraph
utils/randLocalGraph
utils/wghSNAPtoAdj
apps/result_*
.vscode/

